<ul>
    <!-- {% for i in posts_list %[[]]} -->
    {% for i in post %}
        <li>{{ i }}</li>
        <a href="{% url 'postupdate' i.id %}">go</a>
        <a href="{% url 'postdelete' i.id %}">del</a>
    {% endfor %}
    {{ posts_list }}
</ul>
<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"><=</a>
        {% endif %}
        <span>
            pages: {{ page_obj.number }}/{{ page_obj.paginator.num_pages}}
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number}}">=></a>
        {% endif %}
    </span>
</div>