<form action="" method="post">
    {% csrf_token %}
    <li>
        <h4>title</h4>
        {{form.title}}
    </li>
    <li>
        <h4>poster</h4>
        {{form.poster}}
    </li>
    <li>
        <h4>content</h4>
        {{form.content}}
    </li>
    <li>
        <h4>author</h4>
        {{form.author}}
    </li>
    <li>
        <h4>views</h4>
        {{form.views}}
    </li>
    <li>
        <h4>likes</h4>
        {{form.likes}}
    </li>
    
    <button type="submit">go</button>
</form>